.form__name {
  margin-top: 54px;
  border-width: 0px 0px 1px;
  -o-border-image: initial;
     border-image: initial;
  border-bottom: 1px solid rgb(188, 188, 196);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

@media screen and (max-width: 800px) {
  .form__name {
    margin-top: 75px;
  }
}
