.profile__avatar-edit {
  width: 100%;
  height: 100%;
  background: url(../../../images/edit-button.svg);
  background-repeat: no-repeat;
  background-size: 26px 26px;
  background-position: center;
  align-self: center;
  margin: 0;
  cursor: pointer;
  transition: opacity 0.3s ease-in;
  border: 0;
  margin-right: 30px;
}
