.profile__name {
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  margin: 0;
  padding: 0;
  max-width: 373px;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: baseline;
}

@media screen and (max-width: 800px) {
  .profile__name {
    font-size: 22px;
    line-height: 27px;
    text-align: center;
  }
}
