.edit-button {
  height: 24px;
  width: 24px;
  border: 1px solid white;
  background: url(../../images/edit-button.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 10px 10px;
  background-position: center;
  /* align-self: center; */
  margin: 0;
}

@media screen and (max-width: 800px) {
  .edit-button {
    width: 7.5px;
    height: 7.5px;
    padding: 4.25px;
    margin-left: 10px;
  }
}

.edit-button:hover {
  opacity: 0.6;
}
