@import url(__avatar/profile__avatar.css);
@import url(__avatar-edit-container/profile__avatar-edit-container.css);
@import url(__avatar-container/profile__avatar-container.css);
@import url(__description/profile__description.css);
@import url(__info/profile__info.css);
@import url(__name/profile__name.css);
@import url(__edit-button/profile__edit-button.css);
@import url(__add-button/profile__add-button.css);
@import url(__avatar-edit/profile__avatar-edit.css);

.profile {
  width: 100%;
  margin-top: 40px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'Inter', Arial, sans-serif;
}

@media screen and (max-width: 800px) {
  .profile {
    margin-top: 42px;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 282px;
    min-height: 286px;
    position: relative;
  }
}






