.modal__close-button {
  margin: 0;
  padding: 0;
  width: 48px;
  height: 48px;
  position: absolute;
  top: -38px;
  right: -38px;
  background: url(../../../images/close-button.svg);
  background-repeat: no-repeat;
  background-size: 48px 48px;
  background-position: center;
  border: 0;
  cursor: pointer;
  transition: opacity 0.3s ease-in;
}

.modal__close-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 800px) {
  .modal__close-button {
    top: -50px;
    right: -12px;
  }
}

