@import url(__text/card__text.css);
@import url(__image/card__image.css);
@import url(__like/card__like.css);
@import url(__like-button/card__like-button.css);
@import url(__like-count/card__like-count.css);
@import url(__delete-button/card__delete-button.css);

.card {
  width: 282px;
  padding-bottom: 31px;
  background: #FFFFFF;
  border-radius: 10px;
  overflow: hidden;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  flex-wrap: wrap;
  position: relative;
}
