
.form__save-button {
  background-color: #000000;
  color: #FFFFFF;
  margin-top: 48px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 50.15px;
  -ms-grid-column-align: stretch;
      justify-self: stretch;
  border: 0;
  border-radius: 2px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  cursor: pointer;
  transition: opacity 0.3s ease-in;
}

.form__save-button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 800px) {
  .form__save-button {
    font-size: 14px;
    line-height: 17px;
    margin-top: 45px;
  }
}
