
.form__input {
  border-width: 0px 0px 1px;
  -o-border-image: initial;
     border-image: initial;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.form__input:first-of-type {
  margin-top: 54px;
  color: #000000;
  padding-bottom: 13px;
}

.form__input:nth-of-type(2) {
  margin-top: 29.74px;
  padding-bottom: 13px;
}

@media screen and (max-width: 800px) {
  .form__input:first-of-type {
    margin-top: 75px;
  }
}

.form__input:invalid {
  border-bottom: 1px solid #FF0000; /* the red border is for invalid input */
}


